.div1{
    background-color: aquamarine;
    color:darkblue ;
    font-size: 18px;
   font-family: Verdana; 
    width: 500px; 
    height: 500px;
    border: lightseagreen solid 5px;
    border-radius: 16px;
    padding: 20px;
    margin: 30px;
}

.div2{
    width: 800px;
    height: 300px;
    background-image: url('fundo-div2.svg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: pink solid 5px;
    border-radius: 16px;
    color: #fff ;
    font-size: 18px;
    padding: 20px;
    margin: 30px;
    font-family: 'Comic Sans MS', cursive;
    
}

.div3{
    color: darkmagenta;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium';
    border: purple solid 10px;
    border-radius: 16px;
    width: 300px;
    height: 800px;
    background: linear-gradient(to top, deeppink, tomato);
    padding: 20px;
    margin: 30px;
}